---
title: Team AGR226
subtitle: Equipo / Group
common-css:
  - "/css/micss.css"
  - "/css/bootstrap.min.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---
<html>
	{% include head.html %}
<header class="header-post">
<!-- <link href="micss.css" rel="stylesheet" type="text/css"> -->
</header>
<body>
	{% include nav.html %}
	<div role="main" class="container main-content">
      {{ content }}
    
    </div>
	<div class="contenedor">
		<div class="elemento elemento1">
			<!--<div class="leermas"><p>leer mas</p></div>-->
				<div class="mini mini1"></div>
				<div class="mini mini2"></div>-->
		</div>
		<div class="elemento elemento2">
				<div class="mini mini3"></div>
				<div class="mini mini4"></div>-->
		</div>
		<div class="elemento elemento3">
				<div class="mini mini5"></div>
				<div class="mini mini6"></div>-->
		</div>
		<div class="elemento elemento4">
				<div class="mini mini7"></div>
				<!--<div class="mini mini8"></div>-->
		</div>
		<div class="elemento elemento5">
			    <div class="mini mini9"></div>
				<!--<div class="mini mini10"></div>-->
		</div>
		<div class="elemento elemento6">
				<div class="mini mini11"></div>
				<!--<div class="mini mini12"></div>-->
		</div>
	</div>
	{% include footer.html %}

    {% include footer-scripts.html %}
    
	{% include gostats.html %}

</body>
</html>